# This is Git's per-user configuration file.
[user]
  name = Camilo Romero
  email = camiloaromero23@gmail.com
[core]
  excludesfile = ~/.gitignore_global
  pager = delta
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[init]
  defaultBranch = main
[help]
  autocorrect = immediate
[push]
  autoSetupRemote = true
[includeIf "gitdir:~/Documents/work/"]
  path = ~/.gitconfig_work
[includeIf "gitdir:~/Documents/uniAndes/"]
  path = ~/.gitconfig_uniandes
[interactive]
  diffFilter = delta --color-only
[delta]
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
  syntax-theme = OneHalfDark
  features = decorations
  file-modified-label = modified:
  paging = always
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default

