# This is Git's per-user configuration file.
[user]
  name = Sergio David Romero Maldonado
  email = sergiorom92@gmail.com
[core]
  excludesfile = ~/.gitignore_global
	editor = nvim
  pager = delta
[url "git@bitbucket.org:"]
  insteadOf = https://bitbucket.org/
[init]
  defaultBranch = main
[help]
  autocorrect = immediate
[push]
  autoSetupRemote = true
[interactive]
  diffFilter = delta --color-only
[include]
  path = ~/.catppuccin.gitconfig
[delta]
  line-numbers = true
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  side-by-side = true
  hyperlinks = true
  true-color = always
  ; syntax-theme = OneHalfDark
  ; features = decorations
  features = catppuccin-mocha decorations
  syntax-theme = Catppuccin-mocha   # Remember to Install Captuccin Theme for Bat
  features = decorations
  file-modified-label = modified:
  paging = always
[merge]
  conflictstyle = diff3
[diff]
  colorMoved = default
[commit]
  gpgsign = false
[includeIf "gitdir:~/Documents/hugeinc/"]
  path = ~/.gitconfig_work
[includeIf "gitdir:~/Documents/uniAndes/"]
  path = ~/.gitconfig_uniandes
