.zcompdump*
.zsh_history
.zsh_sessions/
lazygit/.config/lazygit/state.yml
gpg/.gnupg/*
!gpg/gpg*
zed/.config/zed/.tmp*
zed/.config/zed/conversations
zed/.config/zed/embeddings
zed/.config/zed/themes
karabiner/assets/
karabiner/automatic_backups/
