.zcompdump*
.zsh_history
.zsh_sessions/
lazygit/.config/lazygit/state.yml
gpg/.gnupg/*
!gpg/gpg*
zed/.config/zed/*
!zed/.config/zed/keymap.json
!zed/.config/zed/settings.json
karabiner/.config/karabiner/assets/
karabiner/.config/karabiner/automatic_backups/
